<div ng-controller="ModelCtrl" ng-init="init()">
    <breadcrum icon="fa fa-cube" title="Model Page" path="Pages"></breadcrum>

    <div class="contentpanel">
        <h1 style="margin-top:0">{{model.name}}</h1>

        <div class="row">
            <div class="col-md-8">
                <div id="rendererContainer">
                    <visualizer ng-dblclick="toggleFullScreen()"></visualizer>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <span class="btn-toolbar pull-right">
                        <button ng-hide="favourited" ng-click="favouriteModel();" class="btn btn-bordered"
                                tooltip-append-to-body="true" tooltip="Add to favourites">
                            <i class="glyphicon glyphicon-heart-empty"></i>
                        </button>
                        <button ng-show="favourited" ng-click="favouriteModel();" class="btn btn-bordered"
                                tooltip-append-to-body="true" tooltip="Remove from favourites">
                            <i class="glyphicon glyphicon-heart"></i>
                        </button>
                        <button ng-click="upvote();" class="btn btn-bordered" ng-class="{'btn-primary': uservote === 'UP'}"
                                tooltip-append-to-body="true" tooltip="I like this">
                            <i class="fa fa-thumbs-up"></i>
                            <span>{{model.upvotes}}</span>
                        </button>
                        <button ng-click="downvote();" class="btn btn-bordered" ng-class="{'btn-primary': uservote === 'DOWN'}"
                                tooltip-append-to-body="true" tooltip="I don't like this">
                            <i class="fa fa-thumbs-down"></i>
                            <span>{{model.downvotes}}</span>
                        </button>
                        <button ng-click="toggleFullScreen()" class="btn btn-bordered"
                                tooltip-append-to-body="true" tooltip="Toggle FullScreen">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 panel panel-default" style="padding:0;">
                <div class="panel-heading">
                    <h3>Created by</h3>
                </div>
                <div class="panel-body contact-group">
                    <div class="media">
                        <div class="pull-left">
                            <img class="img-circle img-online" ng-src="{{model.author.avatar}}"
                                 alt="{{model.author.name}}">
                        </div>
                        <div class="media-heading ml10">
                            <h3 class="mt0 mb0">{{model.author.name}}</h3>
                        </div>
                        <div class="media-body m0 ml10">
                            <button ng-click="followAuthor();" class="btn btn-primary">
                                <span>{{followingAuthor ? 'Unfollow' : 'Follow'}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="mt20">
                        {{model.author.about}}
                    </div>
                </div>
            </div>
        </div>
        <div class="mt20">
            <tabset>
                <tab class="pull-right" active="tabs.settings">
                    <tab-heading>
                        <i class="fa fa-cog"></i>
                    </tab-heading>
                    <h3>Description</h3>
                    <textarea ng-model="newModel.description" style="resize:vertical;" ng-maxlength="1024"
                              class="form-control" placeholder="Write a description"></textarea>
                    <small class="nc-charcount">{{1024-newModel.description.length}} characters remaining.
                    </small>
                    <h3>Tags</h3>
                    <tags-input ng-model="newModel.tags">
                        <auto-complete min-length="1" source="loadTags($query)"></auto-complete>
                    </tags-input>
                    <h3>Visibility</h3>

                    <div>
                        <span class="rdio rdio-primary">
                            <input type="radio" id="rdioPublic" ng-model="newModel.visibility" value="public"/>
                            <label for="rdioPublic">Public</label>
                        </span>
                        <span class="rdio rdio-primary ml10">
                            <input type="radio" id="rdioPrivate" ng-model="newModel.visibility" value="private"/>
                            <label for="rdioPrivate">Private</label>
                        </span>
                    </div>
                    <div class="mt20">
                        <button class="btn btn-success" ng-click="updateModel();">
                            Save Changes
                        </button>
                        <button class="btn btn-danger" ng-click="deleteModel();">
                            Delete Model
                        </button>
                    </div>
                </tab>
                <tab class="pull-right" active="tabs.details">
                    <tab-heading><strong>Details</strong></tab-heading>
                    <div style="font-weight: bold;">
                        Published on <span>{{model.publicationDate | amDateFormat:'dddd, MMMM Do YYYY'}}</span>.
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Description</h3>

                            <p style="white-space: pre;">{{model.description}}</p>

                            <h3>Tags</h3>

                            <div class="media-manager-sidebar clearfix">
                                <ul class="tag-list mb20">
                                    <li ng-repeat="tag in model.tags">
                                        <a ui-sref="home.search({q: tag })">{{tag}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3>Get this model</h3>
                            <button ng-click="downloadModel();" class="btn btn-primary">
                                <i class="fa fa-download"></i>
                                <span>Download</span>
                            </button>
                            <button ng-click="exportModel();" class="btn btn-primary" tooltip="Export to Dropbox">
                                <i class="fa fa-dropbox"></i>
                                <span>Export</span>
                            </button>
                        </div>
                    </div>
                </tab>
                <tab class="pull-right" active="tabs.comments">
                    <tab-heading><strong>Comments</strong></tab-heading>
                    <div class="media msg-reply" ng-show="isLoggedIn">
                        <a class="pull-left" href="">
                            <img class="img-circle img-online" src="images/photos/profile.png" alt="username">
                        </a>

                        <div class="media-body">
                            <form name="new_comment">
                                <textarea ng-model="$parent.$parent.newComment" id="new-comment-area" ng-minlength="1"
                                          ng-maxlength="1024" class="form-control" placeholder="Comment on this model"
                                          style="border-color: #cccccc; -webkit-box-shadow: none; box-shadow: none;" required></textarea>
                                <small class="nc-charcount">{{1024-$parent.$parent.newComment.length}} characters
                                    remaining.
                                </small>
                                <button class="btn btn-primary btn-sm mt10" ng-click="submitNewComment($event);"
                                        data-ng-disabled="new_comment.$invalid">
                                    <i class="fa fa-plus mr5"></i> Add Comment
                                </button>
                            </form>
                        </div>

                    </div>
                    <div class="comment-list mt20">
                        <model-comment ng-repeat="comment in $parent.$parent.model.comments" author="{{comment.author}}"
                                       avatar="{{comment.avatar}}"
                                       date="{{comment.date}}"
                                       loggedUsername="{{loggedUsername}}"
                                       remove-comment="removeComment(date)">
                            {{comment.content}}
                        </model-comment>
                        <div id="load-more-comments" class="media" ng-hide="!$parent.$parent.hasMoreComments" ng-click="loadMoreComments($event);">
                            Load more comments
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<script type="text/ng-template" id="modalDialogId">
    <div class="ngdialog-message">
        <h3>Delete Comment</h3>
        <p>Are you sure you want to remove this comment?</p>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Confirm</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
    </div>
</script>