<div class="col-md-4">
<div class="thumbnail">
    <a ui-sref="home.model({id: modelId})" >
        <img class="modelthumb" ng-if="imageUrl" ng-src="{{imageUrl}}" alt="{{title}}" onError="this.src='http://placehold.it/290x163&amp;text=Model';">
        <img class="modelthumb" ng-if="!imageUrl" src="http://placehold.it/290x163" alt="{{title}}" onError="this.src='http://placehold.it/290x163&amp;text=Model';">
    </a>
    <div class="caption center-block">
        <a ui-sref="home.model({id: modelId})"><h4 style="display:inline">{{title}}</h4></a>
        <span class="fa fa-thumbs-down pull-right text-red">{{downvotes}}</span>
        <span class="fa fa-thumbs-up text-right pull-right text-green">{{upvotes}}</span>
        <span class="fa fa-comment-o pull-right">{{numComments}}</span>
        <div class="user-panel">
            <div class="pull-left image">
                <img ng-src="{{authorAvatar}}" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info" style="padding-right: 0; padding-left: 10px;">
                <p><a ui-sref="home.profile({username: author})">{{author}}</a></p>
                <p>
                    <span class="fa fa-clock-o"></span> <span am-time-ago="date" title="{{date | amDateFormat:'dddd, MMMM Do YYYY'}}"></span>
                </p>
            </div>
        </div>
    </div>
</div>
</div>