<!DOCTYPE html>
<html ng-app="meshApp" ng-controller="AppCtrl">
<head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@mesh3d">
    <meta name="twitter:title" content="Mesh">
    <meta name="twitter:description" content="3D modelling community for professionals to have a reliable place to network and showcase their work">
    <meta name="twitter:creator" content="@mesh3d">
    <meta name="twitter:image:src" content="http://i.imgur.com/6jO00aU.png">
    <meta property="og:title" content="Mesh"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://mesh3d.com"/>
    <meta property="og:image" content="http://i.imgur.com/6jO00aU.png"/>
    <meta property="og:description" content="3D modelling community for professionals to have a reliable place to network and showcase their work">

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <!-- font awesome from BootstrapCDN -->
    <!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key: 77xhpx5nrj2r68
        authorize: true
    </script>
</head>

<body ui-view>


</body>
</html>
