<div>
    <breadcrum icon="fa fa-envelope" title="Messages" path="Pages"></breadcrum>
    <div class="contentpanel">
        <div class="clearfix mb10">
            <div class="col-sm-3 col-md-3 col-lg-2 mb10">
                <a ui-sref="home.createMessage" class="pull-left btn btn-success btn-block btn-create-msg mb10"><i class="fa fa-plus-square"></i> Create Message</a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-8"></div>
            <div class="col-sm-3 col-md-3 col-lg-2">
                <a class="pull-right btn btn-block btn-danger btn-create-msg" ng-class="{disabled: noMessagesSelected()}" ng-click="deleteMessages(messages.inbox)"><i class="fa fa-trash-o"></i> Delete messages</a>
            </div>
        </div>

        <v-tabset>
            <v-tab select="getReceivedMessages()">
                <tab-heading>
                    <span class="badge pull-right">{{NotificationsFactory.pendingMessagesCount}}</span>
                    <i class="glyphicon glyphicon-inbox"></i> Inbox
                </tab-heading>
                <ul class="media-list msg-list">
                    <li class="media message" ng-class="{unread: message.seen}"
                        ng-repeat="message in messages.inbox" ng-click="selectMessage(message)">
                        <div class="ckbox ckbox-primary pull-left" ng-click="$event.stopPropagation()">
                            <input ng-model="message.selected" type="checkbox" id="checkbox{{$index+1}}">
                            <label for="checkbox{{$index+1}}"></label>
                        </div>
                        <a class="pull-left" ui-sref="home.profile({username: message.userFrom})">
                            <img class="media-object img-circle" ng-src="{{message.userFromAvatar}}" alt="...">
                        </a>

                        <div class="media-body">
                            <div class="pull-right media-option">
                                <span ng-if="!message.seen" class="badge badge-success">New</span>
                                <a ng-click="toggleSeen(message); $event.stopPropagation();">Mark as
                                    <span ng-show="message.seen">un</span>read</a>
                                <small>
                                    | {{message.date | date}}
                                    | {{ moment(message.date).fromNow()}}
                                </small>
                            </div>
                            <h4 class="sender">From: {{message.userFrom}}</h4>

                            <p><a><strong class="subject">{{message.title}}</strong></a></p>

                            <div style="margin-top: 10px" class="panel panel-default widget-messaging" collapse="message.isCollapsed">
                                <div class="panel-body">
                                    <div class="pull-right">
                                        <a class="" ng-click="toggleReplying(message); $event.stopPropagation();"><i class="fa fa-edit"></i> Reply</a>
                                    </div>
                                    {{message.content}}
                                </div>
                                <div class="panel-footer" collapse="!message.showReplyForm" ng-click="$event.stopPropagation();">
                                    <form name="sendReplyForm" class="form-horizontal form-bordered">
                                        <h4>Reply to {{message.userFrom}}</h4>
                                        <div class="form-group mb15">
                                            <p class="text-danger"
                                               ng-show="sendReplyForm.title.$invalid && sendReplyForm.title.$dirty">
                                                Message title must have at least 1 character and at most 64 characters
                                            </p>
                                            <input name="title" type="text"
                                                   placeholder="Message title" ng-model="message.reply.title"
                                                   class="form-control" ng-minlength="1"
                                                   ng-maxlength="64" ng-required="true">
                                        </div>
                                        <div class="form-group mb15">
                                            <p class="text-danger"
                                               ng-show="sendReplyForm.content.$invalid && sendReplyForm.content.$dirty">
                                                Message content must have at least 1 character and at most 1024 characters
                                            </p>
                                            <textarea name="content"
                                                      id="autoResizeTA"
                                                      ng-model="message.reply.content"
                                                      ng-minlength="1" ng-maxlength="1024"
                                                      placeholder="Write the message contents here"
                                                      class="form-control" rows="5"
                                                      ng-required="true"></textarea>
                                        </div>
                                    </form>
                                    <button ng-click="sendReply(message)"class="btn btn-primary" ng-disabled="sendReplyForm.$invalid">Send message</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="btn-list pull-right">
                    <button class="btn btn-default" ng-hide="limit <= 5"
                            ng-click="loadMoreMessages(-5)"> Less messages
                    </button>
                    <button class="btn btn-primary" ng-click="loadMoreMessages( 5)"> Load more messages
                    </button>
                </div>
            </v-tab>

            <v-tab select="getSentMessages()">
                <tab-heading>
                    <i class="glyphicon glyphicon-send"></i> Sent
                </tab-heading>
                <ul class="media-list msg-list">
                    <li class="media message unread"
                        ng-repeat="message in messages.sent" ng-click="selectMessage(message)">
                        <a class="pull-left" ui-sref="home.profile({username: message.userFrom})">
                            <img class="media-object img-circle" ng-src="{{message.userToAvatar}}" alt="...">
                        </a>

                        <div class="media-body">
                            <div class="pull-right media-option">
                                <small>
                                    {{message.date | date}}
                                    | {{ moment(message.date).fromNow()}}
                                </small>
                            </div>
                            <h4 class="sender">To: {{message.userTo}}</h4>

                            <p><a><strong class="subject">{{message.title}}</strong></a></p>

                            <div class="panel panel-default" collapse="message.isCollapsed">
                                <div class="panel-body">
                                    {{message.content}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="btn-list pull-right">
                    <button class="btn btn-default" ng-hide="limit <= 5"
                            ng-click="loadMoreMessages(-5)"> Less messages
                    </button>
                    <button class="btn btn-primary" ng-click="loadMoreMessages( 5)"> Load more messages
                    </button>
                </div>
            </v-tab>

            <v-tab select="getTrashMessages()">
                <tab-heading>
                    <i class="glyphicon glyphicon-trash"></i> Trash
                </tab-heading>
                <ul class="media-list msg-list">
                    <li class="media message unread"
                        ng-repeat="message in messages.trash" ng-click="selectMessage(message)">
                        <a class="pull-left" ui-sref="home.profile({username: message.userFrom})">
                            <img class="media-object img-circle" ng-src="{{message.userFromAvatar}}" alt="...">
                        </a>

                        <div class="media-body">
                            <div class="pull-right media-option">
                                <small>
                                    {{message.date | date}}
                                    | {{ moment(message.date).fromNow()}}
                                </small>
                            </div>
                            <h4 class="sender">From: {{message.userFrom}}</h4>

                            <p><a><strong class="subject">{{message.title}}</strong></a></p>

                            <div class="panel panel-default" collapse="message.isCollapsed">
                                <div class="panel-body">
                                    {{message.content}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="btn-list pull-right">
                    <button class="btn btn-default" ng-hide="limit <= 5"
                            ng-click="loadMoreMessages(-5)"> Less messages
                    </button>
                    <button class="btn btn-primary" ng-click="loadMoreMessages( 5)"> Load more messages
                    </button>
                </div>
            </v-tab>
        </v-tabset>


    </div><!-- contentpanel -->
</div>