<div ng-controller="SearchCtrl" ng-init="init()">
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-search"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="#">Pages</a></li>
                <li>Search Results</li>
            </ul>
            <h4>Search Results</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">

    <div class="row search">
        <div class="col-sm-8 col-md-9">

            <div class="panel panel-dark-head">
                <div class="panel-heading">
                    <h4 class="panel-title">Search results for "{{search.query}}"</h4>
                    <p>About {{filtered.length}} results (0.13 seconds)</p>
                </div><!-- panel-heading -->
                <div class="panel-body">

                    <div class="results-list">

                        <div class="media row" ng-repeat="result in results">
                            <div class="col-xs-6">
                                <a href="#/model" class="pull-left">
                                    <img alt="" ng-src="{{result.image}}" class="img-responsive thumbnail">
                                </a>
                            </div>
                            <div class="media-body col-xs-6">
                                <h4 class="filename text-primary"><a href="#/model">{{result.name}}</a></h4>
                                <small class="text-muted">Created: January 10, 2014 at 7:30am</small><br />
                                <small class="text-muted">Modified: January 13, 2014 at 11:30am</small>
                            </div>
                        </div>
                        <button class="btn btn-primary col-md-9 col-md-offset-1 col-sm-8 col-sm-offset-2">Load more</button>
                    </div><!-- results-list -->
                </div><!-- panel-body -->
            </div><!-- panel -->
</div><!-- col-sm-8 -->

        <div class="col-sm-4 col-md-3">
            <h4 class="md-title mb5">Refine Results</h4>
            <div class="input-group mb15">
                <div class="input-group-btn">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">All <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a>User Name</a></li>
                        <li><a>User Full Name</a></li>
                        <li><a>User Email</a></li>
                        <li class="divider"></li>
                        <li><a>Model Name</a></li>
                        <li><a>Model Tags</a></li>
                        <li class="divider"></li>
                        <li><a>Gallery Name</a></li>
                        <li class="divider"></li>
                        <li><a>Group Name</a></li>
                        <li><a>Group Description</a></li>
                        <li><a>Group Tag</a></li>
                    </ul>
                </div><!-- input-group-btn -->
                <input type="text" class="form-control">
            </div>

            <div class="mb20"></div>
            <h4 class="md-title mb5">Filter by</h4>
            <ul class="nav nav-pills nav-stacked nav-file-type">
                <li id="model" ng-class="{active: searchType == 'model'}"><a ng-click="changeSearchType('model')"><i class="fa fa-file"></i> Models</a></li>
                <li id="group" ng-class="{active: searchType == 'group'}"><a ng-click="changeSearchType('group')"><i class="fa fa-group"></i> Groups</a></li>
                <li id="user" ng-class="{active: searchType == 'user'}"><a ng-click="changeSearchType('user')"><i class="fa fa-user"></i> Users</a></li>
            </ul>

            <div class="mb20"></div>

            <h4 class="md-title mb5">Date Created</h4>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>

            <br />

        </div><!-- col-sm-4 -->
    </div><!-- row -->

</div><!-- contentpanel -->
</div>