<div ng-controller="SearchCtrl" ng-init="init()">
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-search"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="#">Pages</a></li>
                <li>Search Results</li>
            </ul>
            <h4>Search Results</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">

    <div class="row search">
        <div class="col-sm-8 col-md-9">
            <pagination boundary-links="true" total-items="filtered.length" page="currentPage"
                        class="pagination pagination-search" items-per-page="pageSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;"
                        first-text="&laquo;" last-text="&raquo;"></pagination>

            <div class="panel panel-dark-head">
                <div class="panel-heading">
                    <h4 class="panel-title">Search results for "{{search.query}}"</h4>
                    <p>About {{filtered.length}} results (0.13 seconds)</p>
                </div><!-- panel-heading -->
                <div class="panel-body">

                    <div class="results-list">

                        <div class="media row" ng-repeat="result in filtered = (results | filter: searchType) | startFrom: (currentPage-1)*pageSize | limitTo: pageSize">
                            <div class="col-xs-6">
                                <a href="#/model" class="pull-left">
                                    <img alt="" ng-src="{{result.image}}" class="img-responsive thumbnail">
                                </a>
                            </div>
                            <div class="media-body col-xs-6">
                                <h4 class="filename text-primary"><a href="#/model">{{result.name}}</a></h4>
                                <small class="text-muted">Created: January 10, 2014 at 7:30am</small><br />
                                <small class="text-muted">Modified: January 13, 2014 at 11:30am</small>
                            </div>
                        </div>

                    </div><!-- results-list -->
                </div><!-- panel-body -->
            </div><!-- panel -->

            <pagination boundary-links="true" total-items="filtered.length" page="currentPage"
                        class="pagination pagination-search" items-per-page="pageSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;"
                        first-text="&laquo;" last-text="&raquo;"></pagination>

        </div><!-- col-sm-8 -->
        <div class="col-sm-4 col-md-3">
            <h4 class="md-title mb5">Refine Results</h4>
            <div class="input-group">
                <input type="search" class="form-control" ng-model="search.query">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div><!-- input-group -->

            <div class="mb20"></div>

            <h4 class="md-title mb5">Location</h4>
            <select id="location" data-placeholder="Choose a Country..." class="width100p">
                <option value="">Choose One</option>
                <option value="United States">United States</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="Portugal">Portugal</option>
            </select>

            <div class="mb20"></div>

            <h4 class="md-title mb5">File Size</h4>
            <div id="slider" class="slider-primary mb20"></div>

            <div class="mb20"></div>

            <ul class="nav nav-pills nav-stacked nav-file-type">
                <li id="all"><a ng-click="changeSearchType('')"><i class="glyphicon glyphicon-list"></i> All</a></li>
                <li id="model"><a ng-click="changeSearchType('model')"><i class="glyphicon glyphicon-file"></i> Models</a></li>
                <li id="group"><a ng-click="changeSearchType('group')"><i class="glyphicon glyphicon-globe"></i> Groups</a></li>
                <li id="user"><a ng-click="changeSearchType('user')"><i class="glyphicon glyphicon-user"></i> Users</a></li>
            </ul>

            <div class="mb20"></div>

            <h4 class="md-title mb5">Date Created</h4>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>

            <br />

        </div><!-- col-sm-4 -->
    </div><!-- row -->

</div><!-- contentpanel -->
</div>