<div ng-controller="SearchCtrl" ng-init="init()">
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-search"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="#">Pages</a></li>
                <li>Search Results</li>
            </ul>
            <h4>Search Results</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">

    <div class="row search">
        <div class="col-sm-8 col-md-9">

            <div class="panel panel-dark-head">
                <div class="panel-heading">
                    <h4 class="panel-title">Search results for "{{search.query}}"</h4>
                    <p>About {{filtered.length}} results (0.13 seconds)</p>
                </div><!-- panel-heading -->
                <div class="panel-body">

                    <div class="results-list">

                        <div ng-if="searchType == 'group'" class="media row" ng-repeat="group in groups">
                            <div class="col-xs-6">
                                <a ui-sref="home.group({name: group.name})" class="pull-left">
                                    <img alt="" ng-src="{{group.avatar}}" style="width:200px;height:200px" class="img-responsive thumbnail">
                                </a>
                            </div>
                            <div class="media-body col-xs-6">
                                <h4 class="filename text-primary"><a ui-sref="home.group({name: group.name})">{{group.name}}</a></h4>
                            </div>
                        </div>

                        <div ng-if="searchType == 'model'" class="media row" ng-repeat="model in models">
                            <div class="col-xs-6">
                                <a ui-sref="home.model({id: model.id})" class="pull-left">
                                    <img alt="" ng-src="{{model.thumbnail}}" style="width:1252px;" class="img-responsive thumbnail">
                                </a>
                            </div>
                            <div class="media-body col-xs-6">
                                <h4 class="filename text-primary"><a ui-sref="home.model({id: model.id})">{{model.name}}</a></h4>
                                <small class="text-muted">Created: {{model.publicationDate | amDateFormat:'dddd, MMMM Do YYYY'}}</small><br />
                            </div>
                        </div>

                        <div ng-if="searchType == 'user'" class="media row" ng-repeat="user in users">
                            <div class="col-xs-6">
                                <a ui-sref="home.profile({username: user.username})" class="pull-left">
                                    <img alt="" ng-src="{{user.avatar}}" style="width:92px;height:92px" class="img-responsive thumbnail">
                                </a>
                            </div>
                            <div class="media-body col-xs-6">
                                <h4 class="filename text-primary"><a ui-sref="home.profile({username: user.username})">{{user.username}}</a></h4>
                                <small class="text-muted">About: {{user.about}}</small><br />
                            </div>
                        </div>
                        <button class="btn btn-primary col-md-9 col-md-offset-1 col-sm-8 col-sm-offset-2">Load more</button>
                    </div><!-- results-list -->
                </div><!-- panel-body -->
            </div><!-- panel -->
</div><!-- col-sm-8 -->

        <div class="col-sm-4 col-md-3">
            <h4 class="md-title mb5">Filter by</h4>
            <ul class="nav nav-pills nav-stacked nav-file-type">
                <li id="model" ng-class="{active: searchType == 'model'}"><a ng-click="changeSearchType('model')"><i class="fa fa-file"></i> Models</a></li>
                <li id="group" ng-class="{active: searchType == 'group'}"><a ng-click="changeSearchType('group')"><i class="fa fa-group"></i> Groups</a></li>
                <li id="user" ng-class="{active: searchType == 'user'}"><a ng-click="changeSearchType('user')"><i class="fa fa-user"></i> Users</a></li>
            </ul>
        </div><!-- col-sm-4 -->
    </div><!-- row -->

</div><!-- contentpanel -->
</div>