<div ng-controller="GroupCreateCtrl" ng-init="init()">

    <breadcrum icon="fa fa-cloud-upload" title="Create Group" path="Pages"></breadcrum>

    <div class="contentpanel">
        <div class="col-sm-8 col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body ">
                            <span spinner-key="spinner" us-spinner="{radius:20, width:8, length: 16}"></span>
                            <div ng-show="groupRegisterError" class="alert alert-danger">
                                <strong>Group register error: </strong> {{groupRegisterError}}.
                                Please try again!
                            </div>
                            <form name="group_form" class="form-horizontal form-bordered">

                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left">Name</label>

                                    <div class="col-md-10">
                                        <input type="text" placeholder="Group Name" class="form-control col-md-10" name="group_name" ng-focus="nameFocused = true;" ng-blur="nameFocused = false;"
                                               ng-minlength="5" ng-maxlength="20" ng-model="group.name" required>
                                        <p class="text-danger" ng-show="group_form.group_name.$invalid && group_form.group_name.$dirty && !nameFocused">Group name field must be between 5 and 20 characters long</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left">Description</label>

                                    <div class="col-md-10">
                                        <textarea ng-model="group.description" style="resize:vertical;" ng-maxlength="254" ng-minlength="10"  name="group_desc"
                                                  ng-focus="descFocused = true;" ng-blur="descFocused = false;" class="form-control" placeholder="Write a description" required></textarea>
                                        <small class="nc-charcount" ng-show="group_form.group_desc.$valid">{{254-group.description.length}} characters remaining.</small>
                                        <small class="text-danger" ng-show="group_form.group_desc.$error.maxlength">Description too long!</small>
                                        <p class="text-danger" ng-show="group_form.group_desc.$invalid && group_form.group_desc.$dirty && !descFocused">Group description field must be between 10 and 254 characters long</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left">Visibility</label>
                                    <div style="padding-top:5px;">
                                        <span class="rdio rdio-primary">
                                            <input type="radio" id="rdioPublic" ng-model="group.visibility" value="public"/>
                                            <label for="rdioPublic">Public</label>
                                        </span>
                                        <span class="rdio rdio-primary ml10">
                                            <input type="radio" id="rdioPrivate" ng-model="group.visibility" value="private"/>
                                            <label for="rdioPrivate">Private</label>
                                        </span>
                                    </div>
                                </div>
                                <!-- form-group -->
                                <button class="btn btn-success pull-right"
                                        data-ng-disabled="group_form.$invalid || registerPending"
                                        ng-click="createGroup(group)">Create group
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- col-sm-9 -->
        </div>
    </div>

    <script type="text/ng-template" id="groupCreateSuccessId">
         Group successfully created
         <div class="ngdialog-buttons mt">
             <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('button')">Ok</button>
         </div>
    </script>

</div>