<div ng-controller="GroupCtrl" ng-init="init()">

    <breadcrum icon="fa fa-user" title="Group Page" path="Pages"></breadcrum>

    <div class="profile-box container" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="row panel">
            <div class="col-md-4 bg_blur ">
                <!-- <a href="#" class="follow_btn hidden-xs">Follow</a> -->
            </div>
            <div class="col-md-8  col-xs-12">
                <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail picture"/>
                <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail picture_mob"/>

                <div class="header">
                    <h1>{{group.name}}</h1>
                    <span>{{group.description}}</span>
                </div>
            </div>
        </div>

        <div class="row nav">
            <div class="col-md-4"></div>
            <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
                <div class="col-md-4 col-xs-4 well" ng-if="!applied" ng-click="applyToGroup()"><i
                        class="fa fa-plus-square fa-lg"></i> Join
                </div>
                <div class="col-md-4 col-xs-4 well"><i class="fa fa-users fa-lg"></i> {{group.numMembers}} users</div>
                <div class="col-md-4 col-xs-4 well"><i class="fa fa-cubes fa-lg"></i> {{group.numModels}} models</div>
            </div>
        </div>
    </div>

    <tabset>
        <tab heading="Members">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-primary mb30">
                        <thead>
                        <tr>
                            <th width="50px;">

                            </th>
                            <th>
                                <a href="" ng-click="orderByField='username'; reverseSort = !reverseSort"
                                   style="color: inherit">
                                    Username
                                    <span ng-show="orderByField == 'username'" style="color: inherit">
                                        <span ng-show="!reverseSort" style="color: inherit">^</span>
                                        <span ng-show="reverseSort" style="color: inherit">v</span>
                                    </span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="orderByField='joinDate'; reverseSort = !reverseSort"
                                   style="color: inherit">
                                    Join date
                                    <span ng-show="orderByField == 'joinDate'" style="color: inherit">
                                        <span ng-show="!reverseSort" style="color: inherit">^</span>
                                        <span ng-show="reverseSort" style="color: inherit">v</span>
                                    </span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="orderByField='role'; reverseSort = !reverseSort"
                                   style="color: inherit">
                                    Role
                                    <span ng-show="orderByField == 'role'" style="color: inherit">
                                        <span ng-show="!reverseSort" style="color: inherit">^</span>
                                        <span ng-show="reverseSort" style="color: inherit">v</span>
                                    </span>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="member in group.groupMembers|orderBy:orderByField:reverseSort">
                            <td>
                                <a ui-sref="home.profile({id: member.username})">
                                    <img class="media-object img-circle" alt="..." src="{{member.avatar}}"
                                         style="width:100%;">
                                </a>
                            </td>
                            <td>{{member.username}}</td>
                            <td>{{member.joinDate | date}}</td>
                            <td>{{member.role}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- table-responsive -->
            </div>
        </tab>
        <tab heading="Models" select="getModels()">
            <div class="row">
                <div class="col-md-12">
                    <modelthumbnail ng-repeat="model in models"
                            model-id="{{model.id}}"
                            image-url="{{model.thumbnail}}"
                            title="{{model.title}}"
                            author="{{model.author}}"
                            author-avatar="{{model.authorAvatar}}"
                            date="{{model.date}}"
                            num-comments="{{model.comments}}"
                            upvotes="{{model.upvotes}}"
                            downvotes="{{model.downvotes}}">
                    </modelthumbnail>
                </div>
            </div>
            <div class="col-md-4 btn-list center-block">
                <button class="btn btn-primary" ng-click="loadMoreMessages( 5)">
                    Load more models
                </button>
            </div>
        </tab>
    </tabset>

</div>