<div ng-controller="GroupCtrl">

    <breadcrum icon="fa fa-user" title="Group Page" path="Pages"></breadcrum>

    <tabset>
        <tab heading="Members">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-primary mb30">
                        <thead>
                        <tr>
                            <th width="50px;">

                            </th>
                            <th>
                                <a href="" ng-click="orderByField='username'; reverseSort = !reverseSort" style="color: inherit">
                                    Username
                                    <span ng-show="orderByField == 'username'" style="color: inherit">
                                        <span ng-show="!reverseSort" style="color: inherit">^</span>
                                        <span ng-show="reverseSort" style="color: inherit">v</span>
                                    </span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="orderByField='name'; reverseSort = !reverseSort" style="color: inherit">
                                    Name
                                    <span ng-show="orderByField == 'name'" style="color: inherit">
                                        <span ng-show="!reverseSort" style="color: inherit">^</span>
                                        <span ng-show="reverseSort" style="color: inherit">v</span>
                                    </span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="orderByField='joinDate'; reverseSort = !reverseSort" style="color: inherit">
                                    Join date
                                    <span ng-show="orderByField == 'joinDate'" style="color: inherit">
                                        <span ng-show="!reverseSort" style="color: inherit">^</span>
                                        <span ng-show="reverseSort" style="color: inherit">v</span>
                                    </span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="orderByField='role'; reverseSort = !reverseSort" style="color: inherit">
                                    Role
                                    <span ng-show="orderByField == 'role'" style="color: inherit">
                                        <span ng-show="!reverseSort" style="color: inherit">^</span>
                                        <span ng-show="reverseSort" style="color: inherit">v</span>
                                    </span>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="member in groupMembers|orderBy:orderByField:reverseSort">
                            <td>
                                <a ui-sref="home.profile({id: member.username})">
                                    <img class="media-object img-circle" alt="..." src="images/photos/{{member.avatarLink}}" style="width:100%;">
                                </a>
                            </td>
                            <td>{{member.username}}</td>
                            <td>{{member.name}}</td>
                            <td>{{member.joinDate | date}}</td>
                            <td>{{member.role}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- table-responsive -->
            </div>
        </tab>
        <tab heading="Galleries">
            <div class="row">
                <div class="col-md-12">
                    <pagination total-items="galleriesPaginatorTotalItems" ng-model="galleriesPaginatorCurrentPage" max-size="galleriesPaginatorMaxSize" items-per-page="galleriesPaginatorItemsPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <v-tabset>
                        <v-tab ng-repeat="gallery in galleries" select="changeSelectedGallery($index)">
                            <tab-heading>{{gallery.name}}</tab-heading>
                            <modelthumbnail ng-repeat="model in gallery.models | startFrom: (galleriesPaginatorCurrentPage-1)*galleriesPaginatorItemsPerPage | limitTo: galleriesPaginatorItemsPerPage"
                                            model-id="1"
                                            image-url="http://i.imgur.com/zL9XlUY.jpg"
                                            title="{{model.name}}"
                                            author="Donatello"
                                            author-avatar="http://i.imgur.com/KgKyXqN.jpg"
                                            date="2010-04-05T12:38:20.000Z"
                                            num-comments="2"
                                            upvotes="20"
                                            downvotes="2">
                            </modelthumbnail>
                        </v-tab>
                    </v-tabset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <pagination total-items="galleriesPaginatorTotalItems" ng-model="galleriesPaginatorCurrentPage" max-size="galleriesPaginatorMaxSize" items-per-page="galleriesPaginatorItemsPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
            </div>
        </tab>
    </tabset>

</div>