<div ng-controller="HomeCtrl">
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <a class="logo mr15 navbar-header"> <img src="images/logo.png" alt=""/> </a>

                <div class="toggles navbar-header">
                    <button type="button" class="menu-collapse navbar-toggle collapsed dropdown-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="navbar-button btn-group btn-group-list btn-group-notification">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">5</span>
                        </button>
                        <div class="dropdown-menu pull-right">
                            <a href="#" class="link-right"><i class="fa fa-search"></i></a>
                            <h5>Notification</h5>
                            <ul class="media-list dropdown-list">
                                <li class="media">
                                    <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">

                                    <div class="media-body">
                                        <strong>Nusja Nawancali</strong> likes a photo of you
                                        <small class="date"><i class="fa fa-thumbs-up"></i> 15 minutes ago</small>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="img-circle pull-left noti-thumb" src="images/photos/user2.png" alt="">

                                    <div class="media-body">
                                        <strong>Weno Carasbong</strong> shared a photo of you in your <strong>Mobile
                                        Uploads</strong> album.
                                        <small class="date"><i class="fa fa-calendar"></i> July 04, 2014</small>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="img-circle pull-left noti-thumb" src="images/photos/user3.png" alt="">

                                    <div class="media-body">
                                        <strong>Venro Leonga</strong> likes a photo of you
                                        <small class="date"><i class="fa fa-thumbs-up"></i> July 03, 2014</small>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="img-circle pull-left noti-thumb" src="images/photos/user4.png" alt="">

                                    <div class="media-body">
                                        <strong>Nanterey Reslaba</strong> shared a photo of you in your <strong>Mobile
                                        Uploads</strong> album.
                                        <small class="date"><i class="fa fa-calendar"></i> July 03, 2014</small>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">

                                    <div class="media-body">
                                        <strong>Nusja Nawancali</strong> shared a photo of you in your <strong>Mobile
                                        Uploads</strong> album.
                                        <small class="date"><i class="fa fa-calendar"></i> July 02, 2014</small>
                                    </div>
                                </li>
                            </ul>
                            <div class="dropdown-footer text-center">
                                <a ui-sref='home.notifications' class="link">See All Notifications</a>
                            </div>
                        </div>
                        <!-- dropdown-menu -->
                    </div>
                    <div class="navbar-button btn-group btn-group-list btn-group-messages">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge">2</span>
                        </button>
                        <div class="dropdown-menu pull-right">
                            <a href="#" class="link-right"><i class="fa fa-plus"></i></a>
                            <h5>New Messages</h5>
                            <ul class="media-list dropdown-list">
                                <li class="media">
                                    <span class="badge badge-success">New</span>
                                    <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">

                                    <div class="media-body">
                                        <strong>Nusja Nawancali</strong>

                                        <p>Hi! How are you?...</p>
                                        <small class="date"><i class="fa fa-clock-o"></i> 15 minutes ago</small>
                                    </div>
                                </li>
                                <li class="media">
                                    <span class="badge badge-success">New</span>
                                    <img class="img-circle pull-left noti-thumb" src="images/photos/user2.png" alt="">

                                    <div class="media-body">
                                        <strong>Weno Carasbong</strong>

                                        <p>Lorem ipsum dolor sit amet...</p>
                                        <small class="date"><i class="fa fa-clock-o"></i> July 04, 2014</small>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="img-circle pull-left noti-thumb" src="images/photos/user3.png" alt="">

                                    <div class="media-body">
                                        <strong>Venro Leonga</strong>

                                        <p>Do you have the time to listen to me...</p>
                                        <small class="date"><i class="fa fa-clock-o"></i> July 03, 2014</small>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="img-circle pull-left noti-thumb" src="images/photos/user4.png" alt="">

                                    <div class="media-body">
                                        <strong>Nanterey Reslaba</strong>

                                        <p>It might seem crazy what I'm about to say...</p>
                                        <small class="date"><i class="fa fa-clock-o"></i> July 03, 2014</small>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">

                                    <div class="media-body">
                                        <strong>Nusja Nawancali</strong>

                                        <p>Hey I just met you and this is crazy...</p>
                                        <small class="date"><i class="fa fa-clock-o"></i> July 02, 2014</small>
                                    </div>
                                </li>
                            </ul>
                            <div class="dropdown-footer text-center">
                                <a ui-sref='home.messages' class="link">See All Messages</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-button btn-group btn-group-option">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a ui-sref='home.profile'><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-star"></i> Activity Log</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                            <li class="divider"></li>
                            <li><a href="" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="collapse navbar-collapse navbar-header" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active"><a ui-sref='home.profile' href=""><i class="fa fa-home"></i> <span>Profile</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="home.catalog" href="#/catalog"><i class="fa fa-cubes"></i> <span>Catalog</span></a></li>                        <li ui-sref-active="active"><a ui-sref='home.modelUpload' href=""><i class="fa fa-cloud-upload"></i> <span>Upload</span></a></li>
                        <li ui-sref-active="active"><a ui-sref='home.messages' href=""><i class="fa fa-envelope-o"></i> <span>Messages</span></a></li>
                        <li ui-sref-active="active"><a ui-sref='home.group' href=""><i class="fa fa-group"></i> <span>Group</span></a></li>
                        <form class="navbar-form navbar-left form form-search" ng-submit="submitSearch()">
                            <input ng-model="query" type="search" name="search" class="form-control" placeholder="Search"/>
                        </form>
                    </ul>
                </div>

            </div>
        </nav>

    </header>

    <section>
        <!--
        <div class="leftpanel">
            <div class="media profile-left">
                <a class="pull-left profile-thumb" href="#/profile">
                    <img class="img-circle" src="http://placehold.it/590x590" alt="">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">Elen Adarna</h4>
                    <small class="text-muted">Beach Lover</small>
                </div>
            </div>


            <h5 class="leftpanel-title">Navigation</h5>
            <ul class="nav nav-pills nav-stacked">
                <li><a ui-sref='home.profile' href=""><i class="fa fa-home"></i> <span>Profile</span></a></li>
                <li><a ui-sref='home.model({id: 1})' href=""><i class="fa fa-home"></i> <span>Model</span></a></li>
                <li><a ui-sref='home.modelUpload' href=""><i class="fa fa-home"></i> <span>Upload model</span></a></li>
                <li><a ui-sref='home.messages' href=""><i class="fa fa-envelope-o"></i> <span>Messages</span></a></li>
                <li><a ui-sref='home.group' href=""><i class="fa fa-envelope-o"></i> <span>Group</span></a></li>
            </ul>

        </div>
        -->


        <div ui-view>
        </div>
    </section>
</div>