<div ng-controller="RegisterCtrl" ng-init="init();">

    <section>

        <div class="panel panel-signup">
            <div class="panel-body">
                <span spinner-key="spinner" us-spinner="{radius:20, width:8, length: 16}"></span>
                <div class="logo text-center">
                    <img src="images/logo-primary.png" alt="Chain Logo">
                </div>
                <br/>
                <h4 class="text-center mb5">Create a new account</h4>

                <p class="text-center">Please enter your credentials below</p>

                <div class="mb30"></div>

                <div ng-show="registerError" class="alert alert-danger">
                    <strong>Register error: </strong> {{registerError}}
                    Please try again!
                </div>

                <form name="register_form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" placeholder="Enter First Name" ng-model="registerInfo.firstName" ng-maxlength="20" required>
                            </div>
                            <!-- input-group -->
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" placeholder="Enter Last Name" ng-model="registerInfo.lastName" ng-maxlength="20" required>
                            </div>
                            <!-- input-group -->
                        </div>
                    </div>
                    <!-- row -->
                    <br/>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" placeholder="Enter Username" ng-model="registerInfo.username" ng-minlength="3" ng-maxlength="20" required>
                            </div>
                            <!-- input-group -->
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="email" class="form-control" placeholder="Enter Email Address" ng-model="registerInfo.email" required>
                            </div>
                            <!-- input-group -->
                        </div>
                    </div>
                    <!-- row -->
                    <br/>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Enter Password" ng-model="registerInfo.password" ng-minlength="6" ng-maxlength="256" required>
                            </div>
                            <!-- input-group -->
                        </div>

                        <div class="col-sm-6">
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Confirm Password" ng-model="confirmPassword" compare-to="registerInfo.password" required>
                            </div>
                            <!-- input-group -->
                        </div>
                    </div>
                    <!-- row -->
                    <br/>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input readonly="true" style="cursor:default;background-color:white"
                                       ng-model="tempDate" class="form-control"
                                       datepicker-popup="dd-MMMM-yyyy" datepicker-mode="'year'"
                                       show-button-bar="false" datepicker-append-to-body="true"
                                       max-date="curDate" placeholder="Birthdate"
                                       is-open="isOpen" ng-focus="isOpen = true;"
                                       required>
                            </div>
                            <!-- input-group -->
                        </div>

                        <div class="col-sm-6">
                            <div id="country-listing" class="input-group mb15">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                <country-select ng-class="{'placeholding': !registerInfo.country}" class="form-control" ng-model="registerInfo.country" required></country-select>
                            </div>
                            <!-- input-group -->
                        </div>
                    </div>
                    <!-- row -->
                    <br/>

                    <div class="clearfix">
                        <div class="pull-left">
                            <div class="ckbox ckbox-primary mt5">
                                <input type="checkbox" id="agree" value="1" ng-model="agreedToTerms">
                                <label for="agree">I agree with <a href="#">Terms and Conditions</a></label>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success" data-ng-disabled="register_form.$invalid || !agreedToTerms || registerPending" ng-click="registerNewAccount();">Create New Account <i
                                    class="fa fa-angle-right ml5"></i></button>
                        </div>
                    </div>
                </form>

            </div>
            <!-- panel-body -->
            <div class="panel-footer">
                <a ui-sref="login" class="btn btn-primary btn-block">Already a Member? Sign In</a>
            </div>
            <!-- panel-footer -->
        </div>
        <!-- panel -->

    </section>
</div>

<div id="particles-js"></div>

<script type="text/ng-template" id="followupRegister">
    <div class="ngdialog-message">
        <h2>Verify Email</h2>
        <p>We have sent an email to {{ registerInfo.email }} with a link that you will need to follow.</p>
    </div>
    <div class="ngdialog-buttons mt">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ui-sref="login">Login <i class="fa fa-angle-right ml5"></i></button>
    </div>
</script>
