<div>
    <breadcrum icon="fa fa-bell" title="Notifications" path="Pages" ng-init="refreshNotifications()"></breadcrum>
    <div class="contentpanel">
        <v-tabset>
            <v-tab>
                <tab-heading>
                    <span class="badge pull-right">2</span>
                    <i class="fa fa-bell"></i> Latest
                </tab-heading>
                <ul class="media-list msg-list">
                    <li class="media" ng-repeat="notification in notifications"
                        ng-class="{unread: notification.seen}"
                        ng-click="redirectToNotificationUrl(notification)">
                        <!--
                        <div class="ckbox ckbox-primary pull-left">
                            <input ng-model="notification.selected" type="checkbox" id="checkbox{{$index+1}}">
                            <label for="checkbox{{$index+1}}"></label>
                        </div>
                        -->

                        <a ng-if="notification._type == 'NewFollowerNotification'" class="pull-left" href="#">
                            <img class="media-object img-circle img-online" ng-src="{{notification.followerAvatar}}" alt="...">
                        </a>

                        <a ng-if="notification._type == 'UploadNotification'" class="pull-left" href="#">
                            <img class="media-object img-circle img-online" ng-src="{{notification.modelThumbnail}}" alt="...">
                        </a>

                        <div class="media-body">
                            <div class="pull-right media-option">
                                <span ng-if="!notification.seen" class="badge badge-success">New</span>
                                <small>{{notification.date | date}}</small>
                            </div>
                            <h4 class="sender">{{ moment(notification.date).fromNow()}}</h4>

                            <p ng-if="notification._type == 'NewFollowerNotification'">
                                <strong class="subject"><a ui-sref="home.profile({username: notification.follower})">{{notification.follower}}</a> is now following you</strong>
                            </p>

                            <p ng-if="notification._type == 'UploadNotification'">
                                <strong class="subject"> <a ui-sref="home.profile({username: notification.uploader})">{{notification.uploader}}</a> has just uploaded a new model: <a ui-sref="home.model({id: notification.modelId})">{{notification.modelTitle}}</a></strong>
                            </p>

                        </div>
                    </li>
                </ul>
                <button class="btn btn-primary center-block"> Load more notifications</button>
            </v-tab>
        </v-tabset>


    </div><!-- contentpanel -->
</div>