<div ng-controller="CatalogCtrl" ng-init="init()">
    <breadcrum icon="fa fa-cubes" title="Catalog" path="Pages"></breadcrum>

    <div class="contentpanel">
        <v-tabset>
            <v-tab>
                <tab-heading>Most Relevant</tab-heading>
                <modelthumbnail model-id="1"
                                image-url="http://i.imgur.com/zL9XlUY.jpg"
                                title="My horse"
                                author="Donatello"
                                author-avatar="http://i.imgur.com/KgKyXqN.jpg"
                                date="2010-04-05T12:38:20.000Z"
                                num-comments="2"
                                upvotes="20"
                                downvotes="2">
                </modelthumbnail>
            </v-tab>
            <v-tab>
                <tab-heading>Newest</tab-heading>
                <div ng-click="loadNewestModels()">FOR NOW, CLICK HERE</div>
                <modelthumbnail ng-repeat="model in newest"
                                model-id={{model.modelId}}
                                image-url={{model.thumbnail}}
                                title={{model.title}}
                                author={{model.author}}
                                author-avatar={{model.authorAvatar}}
                                date={{model.date}}
                                num-comments={{model.numComments}}
                                upvotes={{model.upvotes}}
                                downvotes={{model.downvotes}}>
                </modelthumbnail>
            </v-tab>
            <v-tab>
                <tab-heading>Top Rated</tab-heading>
                <modelthumbnail model-id="1"
                                image-url="http://i.imgur.com/zL9XlUY.jpg"
                                title="My horse"
                                author="Donatello"
                                author-avatar="http://i.imgur.com/KgKyXqN.jpg"
                                date="2010-04-05T12:38:20.000Z"
                                num-comments="2"
                                upvotes="20"
                                downvotes="2">
                </modelthumbnail>
            </v-tab>
        </v-tabset>
    </div>
</div>