<div ng-controller="CatalogCtrl" ng-init="init()">
    <breadcrum icon="fa fa-cubes" title="Catalog" path="Pages"></breadcrum>

    <div class="contentpanel">
        <v-tabset>
            <v-tab ng-if="isLoggedIn" active="true">
                <tab-heading>Recommended</tab-heading>
                <div id="recommendedModelList" class="row" infinite-scroll="loadRecommendedModels()" infinite-scroll-disabled="!hasMoreRecommendedModels" infinite-scroll-distance="1">
                    <modelthumbnail ng-repeat="model in recommended"
                                    model-id={{model.modelId}}
                                    image-url={{model.thumbnail}}
                                    title={{model.title}}
                                    author={{model.author}}
                                    author-avatar={{model.authorAvatar}}
                                    date={{model.date}}
                                    num-comments={{model.numComments}}
                                    upvotes={{model.upvotes}}
                                    downvotes={{model.downvotes}}>
                    </modelthumbnail>
                    <div class="col-md-12" ng-if="recommended.length == 0">
                        <div style="margin: 20px auto; width: 700px;">
                            <h2>There are no recommendations for you yet :(</h2>
                            <p>Try setting some interests or following users you like</p>
                        </div>
                    </div>
                </div>
            </v-tab>
            <v-tab>
                <tab-heading>Most Relevant</tab-heading>
                <div id="mostRelevantModelList" class="row" infinite-scroll="loadMostRelevantModels()" infinite-scroll-disabled="!hasMoreMostRelevantModels" infinite-scroll-distance="1">
                    <modelthumbnail ng-repeat="model in mostRelevant"
                                    model-id={{model.id}}
                                    image-url={{model.thumbnail}}
                                    title={{model.name}}
                                    author={{model.author.name}}
                                    author-avatar={{model.author.avatar}}
                                    date={{model.publicationDate}}
                                    num-comments={{model.comments.length}}
                                    upvotes={{model.upvotes}}
                                    downvotes={{model.downvotes}}>
                    </modelthumbnail>
                    <div class="col-md-12" ng-if="mostRelevant.length == 0">
                        <div style="margin: 20px auto; width: 700px;">
                            <h2>There are no models yet :(</h2>
                            <p>Be the first to upload something</p>
                        </div>
                    </div>
                </div>
            </v-tab>
            <v-tab>
                <tab-heading>Newest</tab-heading>
                <div id="newestModelList" class="row" infinite-scroll="loadNewestModels()" infinite-scroll-disabled="!hasMoreNewModels" infinite-scroll-distance="1">
                    <modelthumbnail ng-repeat="model in newest"
                                    model-id={{model.modelId}}
                                    image-url={{model.thumbnail}}
                                    title={{model.title}}
                                    author={{model.author}}
                                    author-avatar={{model.authorAvatar}}
                                    date={{model.date}}
                                    num-comments={{model.numComments}}
                                    upvotes={{model.upvotes}}
                                    downvotes={{model.downvotes}}>
                    </modelthumbnail>
                    <div class="col-md-12" ng-if="newest.length == 0">
                        <div style="margin: 20px auto; width: 700px;">
                            <h2>There are no models yet :(</h2>
                            <p>Be the first to upload something</p>
                        </div>
                    </div>
                </div>
            </v-tab>
            <v-tab>
                <tab-heading>Top Rated</tab-heading>
                <div id="topRatedModelList" class="row" infinite-scroll="loadTopRatedModels()" infinite-scroll-disabled="!hasMoreTopRatedModels" infinite-scroll-distance="1">
                    <modelthumbnail ng-repeat="model in topRated"
                                    model-id={{model.id}}
                                    image-url={{model.thumbnail}}
                                    title={{model.name}}
                                    author={{model.author.name}}
                                    author-avatar={{model.author.avatar}}
                                    date={{model.publicationDate}}
                                    num-comments={{model.comments.length}}
                                    upvotes={{model.upvotes}}
                                    downvotes={{model.downvotes}}>
                    </modelthumbnail>
                    <div class="col-md-12" ng-if="topRated.length == 0">
                        <div style="margin: 20px auto; width: 700px;">
                            <h2>There are no models yet :(</h2>
                            <p>Be the first to upload something</p>
                        </div>
                    </div>
                </div>
            </v-tab>
        </v-tabset>
    </div>
</div>