<div ng-controller="LoginCtrl" ng-init="init();">

    <section>
        <div class="panel panel-signin">
            <div class="panel-body">
                <div class="logo text-center">
                    <img src="images/logo-primary.png" style="height: 44px" alt="Mesh Logo">
                </div>
                <br/>
                <h4 class="text-center mb5">Already a Member?</h4>

                <p class="text-center">Sign in to your account</p>

                <div class="mb30"></div>

                <div ng-show="loginError" class="alert alert-danger">
                    <strong>Login error: </strong> {{loginError}}.
                    Please try again!
                </div>
                <div ng-show="state=='successActivation'" class="alert alert-info">
                    <strong>Activation successful</strong>.
                    Please login!
                </div>
                <div ng-show="state=='failedActivation'" class="alert alert-danger">
                    <strong>Activation failed</strong>.
                    Please try again!
                </div>

                <form name="login_form">
                    <div class="input-group mb15" ng-class="{ 'has-error': login_form.username.$invalid && login_form.username.$dirty }">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-focus="nameFocused = true;" ng-blur="nameFocused = false;"
                               ng-model="loginInfo.username" ng-minlength="3" ng-maxlength="20" required>
                    </div>
                    <p class="text-danger" ng-show="login_form.username.$invalid && login_form.username.$dirty && !nameFocused">Username field must be between 3 and 20 characters long</p>

                    <div class="input-group mb15" ng-class="{ 'has-error': login_form.password.$invalid && login_form.password.$dirty }">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-focus="passFocused = true;" ng-blur="passFocused = false;"
                               ng-model="loginInfo.password" ng-minlength="3" ng-maxlength="256" required>
                    </div>
                    <p class="text-danger" ng-show="login_form.password.$invalid && login_form.password.$dirty && !passFocused">Password must be between 3 and 256 characters long</p>

                    <div class="clearfix">
                        <div class="pull-left">
                            <div class="ckbox ckbox-primary mt10">
                                <input type="checkbox" id="rememberMe" value="1" ng-model="loginInfo.rememberMe">
                                <label for="rememberMe">Remember Me</label>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success" data-ng-disabled="login_form.$invalid" ng-click="login();">
                                Sign In <i class="fa fa-angle-right ml5"></i>
                            </button>
                            <button type="button" tooltip="Forgot your password?" class="btn btn-warning" ng-click="showForgotPassword();">
                                <i class="fa fa-question-circle"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="text-center mb30 mt20">OR</div>

                <script type="text/javascript">
                    function onLinkedInAuth() {
                        IN.API.Profile("me")
                                .result( function(me) {
                                    var id = me.values[0].id;
                                    console.log(JSON.stringify(me));
                                    // TODO: AJAX call to pass back id to your server
                                });
                    }
                </script>

                <!-- <a ui-sref="register" class="btn btn-default btn-block"><i class="fa fa-linkedin"></i> &nbsp Sign in with LinkedIn </a> -->
                <p class="text-center">
                    <script type="IN/Login"></script>
                </p>
            </div>
            <!-- panel-body -->
            <div class="panel-footer">
                <a ui-sref="register" class="btn btn-primary btn-block">Not yet a Member? Create Account Now</a>
            </div>
            <!-- panel-footer -->
        </div>
        <!-- panel -->

    </section>
</div>

<div id="particles-js"></div>

<script type="text/ng-template" id="forgotPasswordDialogId">
    <div class="ngdialog-message">
        <h2>Forgot your password?</h2>
        <form name="forgotPasswordForm">
            <p>We'll send you an email with a link to choose a new password.</p>
            <p><label for="emailForgot">Email: </label> <input required id="emailForgot" type="email" name="email" ng-model="forgotPasswordEmail" /></p>
        </form>
    </div>
    <div class="ngdialog-buttons mt">
        <button type="button" class="ngdialog-button ngdialog-button-primary btn-d" ng-disabled="forgotPasswordForm.$invalid" ng-click="confirm(forgotPasswordEmail)">Confirm</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="forgotPasswordDialog2Id">
    <div class="ngdialog-message">
        <p>If you were previously registered on our platform you will receive an email.</p>
    </div>
</script>

<script type="text/ng-template" id="changePasswordDialogId">
    <div class="ngdialog-message">
        <h2>Change password</h2>
        <form name="changePasswordForm">
            <p><label for="password">New password: </label> <input required type="password" name="password" ng-model="changePasswordPassword" /></p>
        </form>
    </div>
    <div class="ngdialog-buttons mt">
        <button type="button" class="ngdialog-button ngdialog-button-primary btn-d" ng-disabled="changePasswordForm.$invalid" ng-click="confirm(changePasswordPassword)">Confirm</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="changePasswordDialog2Id">
    <div class="ngdialog-message">
        <p>{{ngDialogData}}</p>
    </div>
</script>
