<div ng-controller="LoginCtrl" ng-init="init();">

    <section>
        <div class="panel panel-signin">
            <div class="panel-body">
                <div class="logo text-center">
                    <img src="images/logo-primary.png" alt="Link3D Logo">
                </div>
                <br/>
                <h4 class="text-center mb5">Already a Member?</h4>

                <p class="text-center">Sign in to your account</p>

                <div class="mb30"></div>

                <div ng-show="loginError" class="alert alert-danger">
                    <strong>Login error: </strong> {{loginError}}
                    Please try again!
                </div>
                
                <form name="login_form">
                    <div class="input-group mb15">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" placeholder="Username" ng-model="loginInfo.username" required>
                    </div>
                    <!-- input-group -->
                    <div class="input-group mb15">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Password" ng-model="loginInfo.password" required>
                    </div>
                    <!-- input-group -->

                    <div class="clearfix">
                        <div class="pull-left">
                            <div class="ckbox ckbox-primary mt10">
                                <input type="checkbox" id="rememberMe" value="1" ng-model="rememberUser">
                                <label for="rememberMe">Remember Me</label>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success" data-ng-disabled="login_form.$invalid" ng-click="login();">Sign In <i class="fa fa-angle-right ml5"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="text-center mb30">OR</div>

                <a ui-sref="register" class="btn btn-default btn-block"><i class="fa fa-linkedin"></i> &nbsp Sign in with LinkedIn </a>

            </div>
            <!-- panel-body -->
            <div class="panel-footer">
                <a ui-sref="register" class="btn btn-primary btn-block">Not yet a Member? Create Account Now</a>
            </div>
            <!-- panel-footer -->
        </div>
        <!-- panel -->

    </section>
</div>