<div ng-controller="ModelUploadCtrl" ng-init="init()">

    <breadcrum icon="fa fa-cloud-upload" title="Upload model" path="Pages"></breadcrum>

    <div class="contentpanel">

        <div class="col-sm-12 col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body ">

                            <form class="form-horizontal form-bordered">
                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left">Title</label>

                                    <div class="col-md-10">
                                        <input type="text" placeholder="Model title" class="form-control col-md-10">
                                    </div>
                                </div>
                                <!-- form-group -->

                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left">Description</label>

                                    <div class="col-md-10">
                                        <textarea id="autoResizeTA" class="form-control" rows="5" style="height: 90px;"></textarea>
                                    </div>
                                </div>
                                <!-- form-group -->

                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left" for="privacy">Privacy</label>

                                    <div class="col-md-10">
                                        <select id="privacy" class="form-control col-md-10">
                                            <option value="public">Public</option>
                                            <option value="private">Private</option>
                                        </select>
                                    </div>

                                    <ul class="select2-results" role="listbox" id="select2-results-4"></ul>
                                </div>
                                <!-- form-group -->

                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left">Tags</label>

                                    <div class="col-md-10">
                                        <input name="tags" id="tags" value="foo,bar,baz"
                                               style="display: none;">

                                        <tags-input ng-model="newModel.tags">
                                            <auto-complete min-length="1" source="loadTags($query)"></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left">Galleries</label>

                                    <div class="col-md-10">
                                        <input name="tags" id="tags" value="foo,bar,baz"
                                               style="display: none;">

                                        <tags-input ng-model="newModel.galleries">
                                            <auto-complete min-length="1" source="loadTags($query)"></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>
                                <!-- form-group -->

                                <div class="panel-body">
                                    <p>Upload the model files here.</p>
                                    <br />
                                    <div class="dropzone" drop-zone id="file-dropzone">
                                        <div class="fallback">
                                            <input name="file" type="file" multiple />
                                        </div>
                                    </div>
                                </div><!-- panel-body -->

                            </form>

                            <button class="btn btn-success pull-right">Upload</button>

                        </div><!--panel-body-->

                    </div>
                </div>
            </div>

        </div>
        <!-- col-sm-9 -->
    </div>
</div>