<div ng-controller="ModelUploadCtrl" ng-init="init()">

    <breadcrum icon="fa fa-cloud-upload" title="Upload model" path="Pages"></breadcrum>

    <div class="contentpanel">

        <div class="col-sm-12 col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body ">

                            <div ng-show="uploadError" class="alert alert-danger">
                                <strong>Upload error: </strong> {{uploadErrorMessage}}.
                                Please try again!
                            </div>

                            <form name="uploadForm" class="form-horizontal form-bordered">
                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left">Title</label>

                                    <div class="col-md-10">
                                        <input type="text" ng-model="model.name" name="name" placeholder="Model Name" class="form-control col-md-10" ng-minlength="5" ng-maxlength="20" ng-required="true">
                                    </div>
                                    <p class="text-danger" ng-show="uploadForm.name.$invalid && uploadForm.name.$dirty">Name field must be between 5 and 20 characters long</p>
                                </div>
                                <!-- form-group -->

                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left">Description</label>

                                    <div class="col-md-10">
                                        <textarea id="autoResizeTA" name="description"
                                                  ng-model="model.description" class="form-control"
                                                  rows="5" style="height: 90px;"
                                                  ng-required="true" ng-minlength="10" ng-maxlength="254"></textarea>
                                    </div>
                                    <p class="text-danger" ng-show="uploadForm.description.$invalid && uploadForm.description.$dirty">Description field must be between 10 and 254 characters long</p>

                                </div>
                                <!-- form-group -->

                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left" for="privacy">Privacy</label>

                                    <div class="col-md-10">
                                        <select ng-model="model.privacy" id="privacy" class="form-control col-md-10" ng-required="true">
                                            <option value="public">Public</option>
                                            <option value="private">Private</option>
                                        </select>
                                    </div>

                                    <ul class="select2-results" role="listbox" id="select2-results-4"></ul>
                                </div>
                                <!-- form-group -->

                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left">Tags</label>

                                    <div class="col-md-10">

                                        <tags-input ng-model="model.tags">
                                            <auto-complete min-length="1" source="loadTags($query)"></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>

                                <!--
                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left">Galleries</label>

                                    <div class="col-md-10">

                                        <tags-input ng-model="model.galleries">
                                            <auto-complete min-length="1" source="loadTags($query)"></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>
                                --->
                                <!-- form-group -->

                                <div class="form-group">
                                    <p>Upload the model files here. <b>Only .zip files are allowed</b></p>
                                    <br />
                                    <input type="file" ng-file-select="" accept="*.obj" ng-model="modelData" name="file" ng-required="true">
                                </div><!-- panel-body -->
                                <p class="text-danger" ng-show="!validFilename && filenameDirty">Invalid file format!</p>
                            </form>

                            <button class="btn btn-success pull-right" ng-disabled="uploadForm.$invalid || !modelData || !validFilename" ng-click="upload()">Upload</button>

                        </div><!--panel-body-->

                    </div>
                </div>
            </div>

        </div>
        <!-- col-sm-9 -->
    </div>
</div>

<script type="text/ng-template" id="uploadProgressId">
    <div class="ngdialog-message">
    <h5>Upload progress: </h5>
        <progressbar class="progress-striped active" value="uploadProgress" type="info">
        </progressbar>
    <h5 ng-show="uploadCompleted">Upload complete</h5>
    </div>
    <div class="ngdialog-buttons mt">
        <button type="button" class="ngdialog-button ngdialog-button-primary btn-d" ng-show="uploadCompleted" ng-click="confirm()">Go To Model</button>
    </div>
</script>